<%= form_with(model: food_ingredient) do |form| %>
  <% if food_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_ingredient.errors.count, "error") %> prohibited this food_ingredient from being saved:</h2>

      <ul>
        <% food_ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.collection_select :ingredient_id, Ingredient.all, :id, :name, {}, {multiple: false} %>
  </div>

  <div class="field">
    <%= form.label :food_id %>
    <%= form.collection_select :food_id, Food.all, :id, :name, {}, {multiple: false} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
