<li class="nav-item nm-item <%= menu_item_active?(ingredients_path) %>">
  <%= link_to ingredients_path, class: "nav-link" do %>
    <i class="icofont-salt-and-pepper"></i> Ingredients
  <% end %>
</li>
<li class="nav-item nm-item <%= menu_item_active?(cash_balances_path) %>">
  <%= link_to cash_balances_path, class: "nav-link" do %>
    <i class="icofont-bill"></i> Close today's cashbox & pay Chef
  <% end %>
</li>
<li class="nav-item nm-item <%= menu_item_active?(cash_balances_path) %>">
  <%= link_to cash_balances_path(status: 1), class: "nav-link" do %>
    <i class="icofont-money"></i> Cashbox history
  <% end %>
</li>