<div class="special-section" id="login">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h1 class="heading-section">Change your password</h1>
        </div>
      </div>
      <div class="row justify-content-center form">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap py-5">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.hidden_field :reset_password_token %>
              <div class="form-group mt-4 mb-3">
                <% if @minimum_password_length %>
                  <p class="text-center">New password <em>(<%= @minimum_password_length %> characters minimum)</em></p>  
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
              </div>
              <div class="form-group mt-5">
                <%= f.submit "Change my password", class: "btn form-control btn-primary submit px-3" %>
              </div>
            <% end %>
            <div class="w-100 text-center mt-4 text">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
