<div class="special-section" id="login">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h1 class="heading-section">Forgot your password?</h1>
        </div>
      </div>
      <div class="row justify-content-center form">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap py-5">
            <div class="img d-flex align-items-center justify-content-center"
              style="background-image:url(images/xbg.jpg.pagespeed.ic.3DwAHJh7F3.webp)"></div>
            <p class="text-center">Sign in by entering the information below</p>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="form-group">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
              </div>
              <div class="form-group mt-5">
                <%= f.submit "Send me reset password instructions", class: "btn form-control btn-primary submit px-3" %>
              </div>
            <% end %>
            <div class="w-100 text-center mt-4 text">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>