<div class="modal fade" id="foodOrder" tabindex="-1" role="dialog" aria-labelledby="foodOrderTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-body py-0">
        <div class="d-flex main-content">
          <div class="bg-image promo-img mr-3" style="background-image: url(<%= resolve_path_to_image('burger1.png') %>);">
          </div>
          <div class="content-text p-4">
            <h3 class="order-title">
              <span>
                <%= @food.name %>
              </span>
              <span>
                <%= number_to_currency(@food.price, :unit => "$") %>
              </span>
            </h3>
            <p>
              <%= @food.description %>
            </p>
            <%= form_with url: add_food_to_cart_path(@food.id), local: false do |form| %>
              <% if @food.additional_ingredients.any? %>
                <div class="form-group">
                  <p class="custom-note">
                    <small>You can order additional ingredients to your order</small>
                  </p>
                </div>
                <% @food.additional_ingredients.each do |ingredient| %>
                  <div class="form-group additional-ingredient-item">
                    <div class="qty">
                      <span class="title">
                        <%= ingredient.name %> <span class="ai-small-tip">per one <%= number_to_currency(ingredient.price, :unit => "$") %></span>
                      </span>
                      <span class="quantity">
                        <i class="minus hide icofont-minus-square"></i>
                        <%= form.number_field :food, name: "food[additional_ingredients][#{ingredient.id}]", value: 0, class: "count hide", readonly: "readonly" %>
                        <i class="plus icofont-plus-square"></i>
                      </span>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="form-group mt-4">
                <% if @food.additional_ingredients.any? %>
                  <%= form.submit "Add to Order", class: "btn order-btn3" %>
                <% else %>
                  <p class="custom-note">
                    <small>unfortunately today this dish is not available, the chef has not yet formed an addition to it</small>
                  </p>
                  <%= link_to "Add to Order", "#", class: "btn order-btn3 disabled" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>