<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
  <div class="food-menu text-center">
    <div class="food-img-info">
      <div class="food-img">
        <%# <img src="img/food1.png" class="w-100" alt=""> %>
        <%= image_pack_tag('food1.png', class: "w-100") %>
      </div>
      <div class="overlay text-left">
        <h4>Ingredients</h4>
        <% food.ingredients.each do |ingredient| %>
          <span><%= ingredient.name %></span>
        <% end %>
      </div>
    </div>
    <div class="food-informaion">
      <div class="row align-items-center">
        <div class="col-12">
          <h2><%= food.name %></h2>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="food-info text-left">
            <span><i class="icofont-clock-time"></i> 25 min away</span>
            <h3><span>$</span><%= food.price %></h3>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
          <%= link_to "Order Now", food_order_path(food), remote: true, class: "btn order-btn2" %>
        </div>
      </div>
    </div>
  </div>
</div>