<header>
  <div class="header py-1">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light px-0 py-0">
        <a class="navbar-brand" href="<%= root_path %>">
          <div class="logo">
            <%= image_pack_tag('logo.png', class: "w-100 img-fluid") %>
          </div>
        </a>
        <div class="open-time">
          <h6><i class="icofont-clock-time"></i> Open Now</h6>
          <span>8AM - 10PM</span>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar-custom">
            <%= render partial: "layouts/menus/#{@user_logged_in_and_is_staff ? current_user.role + "_menu" : "menu"}" %>
            <li class="nav-item last-menu-bg">
              <span class="nav-link">
                <% if user_signed_in? %>
                  <% if current_user.client? %>
                    <%= link_to profile_path do %>
                      <i class="icofont-fast-food"></i> <%= "Profile" %>
                    <% end %>
                  <% else %>
                    <span class="dm-role"><%= current_user.role %></span>
                    <% case current_user.role
                    when "chef" %>
                      <span class="dm-role"> (<%= number_to_currency(current_user.money, :unit => "$") %>)</span>
                    <% when "manager" %>
                      <span class="dashl"></span>
                      <span class="dm-role"><i class="icofont-money"></i> Cash balance: (<%= number_to_currency(CashBalance.last.sum, :unit => "$") %>)</span>
                    <% end %>
                  <% end %>
                  <span class="dashl"></span>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    Log out <i class="icofont-logout"></i>
                  <% end %>
                <% else %>
                  <%= link_to new_user_session_path do %>
                    Log in <i class="icofont-login"></i>
                  <% end %>
                <% end %>
              </span>
            </li>
            <% if user_signed_in? && current_user.client? %>
              <li class="nav-item">
                <span class="nav-link cart-link">
                  <%= link_to show_shopping_cart_path, remote: true, class: "" do %>
                    <i class="icofont-food-basket"></i>
                    <% if shopping_cart_contain_products? %>
                      <%= shopping_cart_size %>
                    <% end %>
                  <% end %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>